$color-primary: #15202B;
$color-secondary: rgb(29, 161, 242);
$color-secondary-light: rgba(29, 160, 242, 0.171);
$color-danger: #ff0000;
$color-danger-light: #ff000015;

$border: 1px rgb(235, 238, 240) solid;
$color-hr: rgb(235, 238, 240);