@import "./variables";

.container {
  padding: 10px;
  border: $border; 
  .user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .time {
      color: grey;
      font-size: .9rem;
      margin-left: 5px;
    }
  }
  .icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .icon {
      cursor: pointer;
    }
  }
}