@import "./variables";

.container {
  padding: 10px;
  border: $border; 
  &.hover {
    cursor: pointer;
    &:hover{
      background-color: rgba(128, 128, 128, 0.1);
    }
  }
  hr {
    border: none;
    height: 1px;
    color: $color-hr;
    background-color: $color-hr;
  }
  .user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    h3 {
      position: relative;
      cursor: pointer;
      z-index: 0;
      &:hover {
        text-decoration: underline;
      }
    }
    .time {
      color: grey;
      font-size: .9rem;
      margin-left: 5px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .date {
    margin-bottom: 10px;
    color: grey;
    font-size: .9rem;
  }
  .likes {
    color: grey;
    font-size: .8em;
    b {
      color: black;
    }
  }
  .icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    .likeContainer {
      display: flex;
      gap : 5px;
      align-items: center;
    }
    .commentContainer {
      display: flex;
      gap : 5px;
      align-items: center;
      .commentCount {
        color: grey;
        font-size: .8em;
      }
    }
    .icon {
      cursor: pointer;
    }
    .comment {
      border-radius: 50%;
      width: 32px;
      height: 32px;
      &:hover {
        color: $color-secondary;
        background-color: $color-secondary-light;
        
      }
    }
    .heart, .trash {
      border-radius: 50%;
      width: 32px;
      height: 32px;
      &:hover {
        color: $color-danger;
        background-color: $color-danger-light;
      }
    }
    .heartFilled {
      border-radius: 50%;
      width: 32px;
      height: 32px;
      color: red;
      &:hover {
        color: $color-danger;
        background-color: $color-danger-light;
      }
    }
    
  }
}
.replyContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  .reply {
    position: absolute;
    width: 534px;
    top: 186px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 25px;
    background-color: white;
    @media only screen and (max-width: $md) {
      max-width: 534px;
      width: 95vw;
    }
  }
}