@import "./variables";

.form {
  border: $border;
  .textarea {
    font-size: 20px;
    border: none;
    outline: none;
    padding: 10px;
    resize: none;
    @media only screen and (max-width: $md) {
      width: 100%;
    }
  }
  .buttonHolder {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .charCount {
      color: grey;
      &.error {
        color: red;
      }
    }
    .button {
      padding: 12px;
      margin: 10px;
      border-radius: 35px;
      border: none;
      color:white;
      background-color: $color-secondary;
      font-weight: bold;
      cursor: pointer;
      &:disabled {
        opacity: .5;
      }
    }
  }
}